In [9]:
import pandas as pd

In [10]:
pos = []
with open("./hotel/pos.txt","r",encoding='utf-8') as f:
    for line in  f.readlines():
        pos.append(line.strip())

In [11]:
neg = []
with open("./hotel/neg.txt",'r',encoding='utf-8') as f:
    for line in f.readlines():
        neg.append(line.strip())

In [12]:
pos_with_tag = [(li,'pos') for li in pos]
neg_with_tag = [(li,'neg') for li in neg]

In [13]:
all_datas  =[] 
all_datas.extend(neg_with_tag)
all_datas.extend(pos_with_tag)

In [14]:
df = pd.DataFrame(all_datas,columns=["sentence","label"])

In [15]:
import numpy as np

In [16]:
from sklearn.utils import shuffle
df = shuffle(df)

In [17]:
df_pos = pd.DataFrame(pos_with_tag,columns=['sentence','label'])
df_neg = pd.DataFrame(neg_with_tag,columns=['sentence','label'])

In [18]:
df_pos_shuffle = shuffle(df_pos)
df_neg_shuffle = shuffle(df_neg)

In [19]:
df_pos_test = df_pos_shuffle[:1000]
df_pos_train = df_pos_shuffle[1000:]
df_neg_test = df_neg_shuffle[:1000]
df_neg_train = df_neg_shuffle[1000:]

In [20]:
df_test = shuffle(pd.concat([df_pos_test,df_neg_test],axis=0))
df_test.count()

sentence    2000
label       2000
dtype: int64

In [21]:
df_test.head()

                                               sentence label
2035                       房间还行，交通也方便，当然火车站周边略显嘈杂，总体还行。   pos
3050  因为看了之前的评论才定的这家酒店，没想到换来了一个惊喜，房间的大窗户对着小花园，没想到能住在...   pos
3007  一个不错的酒店，如果不抽烟的话就住4层的无烟客房，适合一家人度假住，我在那里住了4个晚上，当...   pos
4461                                              房间太小，   neg
288                                        总体可以！就是没有窗户！   neg

In [22]:
df_train =shuffle(pd.concat([df_pos_train,df_neg_train],axis=0))

In [23]:
df_train.count()

sentence    8000
label       8000
dtype: int64

In [24]:
df_train.head()

                                               sentence label
1093  酒店服务非常好，比金茂君悦和浦东香格里拉的新楼都好，但价格却比他们便宜一点。服务员都训练有素...   pos
1504  酒店的装修确实还不错,就是前面在修地铁,影响很大,看见这个酒店,坐车最起码还要二十分钟才能到...   pos
481   这次住的丽晶，实在是令人气愤。酒店浴室没有防滑垫，铺了个毛巾在地上冲凉。怎奈毛巾太小，还是摔...   neg
4910                                   在浦东，价位不算太高的宾馆了吧！   neg
2873  2/17除夕夜订房预订240标间感觉不错!所以2/25再次入住提升为豪标270元,没想到.....   neg

In [25]:
df_train.to_csv("./datas/train.csv",index=None)

In [26]:
df_test.to_csv("./datas/test.csv",index=None)

In [27]:
import pandas as pd